# Ignore Mac system files
.DS_store

# Ignore Gemfile.lock
Gemfile.lock

# Ignore Build Directory
_site

# Ignore jekyll cache
.jekyll-cache

#ignore api secrets teehee
_scripts/credentials.json
_scripts/token.pickle
_data/secrets.yml
