---
title: The Hexdrinkers
isIndex: true
---
<script type="text/javascript">
    function get_twitch_status() {
    var req = new XMLHttpRequest();
    req.timeout = 10000;
    req.onload = function() {
        var resp = JSON.parse(req.responseText);
        var logo = '<img width="64" height="64" id="logo">'
        if (resp["is_streaming"]) {
        document.getElementById("status").innerHTML = logo + ' The Hexdrinkers are live on Twitch!';
        } else {
        document.getElementById("status").innerHTML = logo + ' The Hexdrinkers are not currently streaming :(';
        }
        document.getElementById("logo").src = "favicon.png";
    }
    req.open("GET", "http://status.hexdrinkers.com", true);
    req.send(null);
    }
    window.onload = get_twitch_status;
</script>
<div class="row">
    <div class="col-md-8 mb-4">
        <h3>Latest Videos</h3>
        <hr class="mt-0">
        <div id="carouselExampleIndicators" class="carousel slide  shadow-sm" data-ride="carousel">
            <div class="carousel-inner">
                {% for item in site.data.media %}
                    {% if item.position == 1 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                        <div class="card">
                            <a class="text-decoration-none" href="{{ item.link }}" target="_blank">
                                <img class="d-block w-100" src="https://img.youtube.com/vi/{{ item.video }}/maxresdefault.jpg" alt="{{ item.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.title}}</h5>
                                    <p class="card-text post-link">{{item.subtitle}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
        <br />
        <a class="btn btn-outline-dark" href="http://twitch.tv/the_hexdrinkers" id="status">Loading...</a>
    </div>
    <div class="col-md-4">
        <div class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">
            <!--Twitter Embedded Timeline-->
            <a class="twitter-timeline" data-height="400" href="https://twitter.com/hexdrinkers?ref_src=twsrc%5Etfw">Tweets by Hexdrinkers</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <h3>Podcast</h3>
        <hr class="mt-0">
        <!--Embedded Spotify link to Podcast, should be most recent-->
        <iframe src="https://open.spotify.com/embed-podcast/show/58FqyKmGYvZlEUFI5sUnCA" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Latest Articles</h3>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    {% for post in site.posts limit:3 %}
      <div class="col-md-4">
        <a class="post-link" href="{{ post.url }}">
            <div class="card mb-4 shadow-sm">
                <img src="{{ post.cover }}" class="card-img-top" loading="lazy" alt="promo image">
                <div class="card-body">
                    <h4 class="post-category">{{ post.categories[0] }}</h4>
                    <div class="post-title">
                        <h3>{{ post.title }}</h3>
                    </div>
                    <p class="card-text">
                        {% if post.hook %}
                            {{post.hook}}
                        {% else %}
                            {{ post.excerpt }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
      </div>
    {% endfor %}
</div>
<div>
    <div class="pagination">
        <a href="/articles/">See More...</a>
    </div>
</div>
