---
author: chev
cover: assets/images/coverimage.jpg
length: 70
youtube: https://www.youtube.com/watch?v=BSF5yoD-vC4
categories: [friendsWithBenefits, Brewday, Decktech]
tags: [commander, standard, vodka, whisky, beer]
---
<h1>Welcome to our html template post!</h1>
<p>
    This is for more advanced-type posts and should really only be used if it's absolutely necessary
    Current reasons that are absolutely necessary:
        - If you need to have a card-name appear in-line and when you hover over it, the image shows up
    Information about those top tags is included in template.md
</p>
<p>So for this bad boy you gotta use html tags. there are all kinds of guides available for you out there...</p>
<p>....but the easiest way to get the styling you want is probably look at the source of an article written in markdown and copy it</p>

<h2>How to reference a card</h2>
<h4>Unfortunately, there's no shortcut rn. So use the template below and fill in the image, link, and name fields with whatever card</h4>
<a 
    class="accented-link" 
    target="_blank"
    href="https://shop.tcgplayer.com/magic/war-of-the-spark/fblthp-the-lost" 
    data-toggle="popover" 
    data-placement="top" 
    data-content="<img src='https://img.scryfall.com/cards/large/front/6/9/69c00ed3-cd79-4921-a6cd-a6b7f89eb53c.jpg?1580844584' width=100% height=100%>">
    Fblthp, The Lost
</a>
<p>
    GUIDE:
    image - use scryfall
    link - use tcgplayer
    name - legal name of card
</p>