<footer>
    <div class="container">
        <div class="row">
            <!--Temp solution...probably should find something better-->
            {% if page.isIndex %}
                <div class="col-md-12">
            {% else %}
                <div class="col-md-2"></div>
                <div class="col-md-8">
            {% endif %}
                    <hr />
                    <div class="float-left">
                        <p>&copy; Brew Crew 2020</p>
                    </div>
                    <div class="float-right">
                        <a class="accented-link" href="https://twitter.com/TheBrewCrew13" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="accented-link" href="https://www.twitch.tv/brew_crew" target="_blank"><i class="fa fa-twitch fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="accented-link"href="mailto:itsthebrewcrew@gmail.com?subject=Site%20Link"><i class="fa fa-envelope fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
        </div>
    </div>
</footer>