<footer>
    <div class="container">
        <div class="row">
            <!--Temp solution...probably should find something better-->
            {% if page.isIndex %}
                <div class="col-md-12">
            {% else %}
                <div class="col-md-2"></div>
                <div class="col-md-8">
            {% endif %}
                    <hr />
                    <div class="float-left">
                        <p>&copy; Brew Crew 2020</p>
                    </div>
                    <div class="float-right">
                        <p class="text-right"><a href="mailto:itsthebrewcrew@gmail.com?subject=Site%20Link">Contact Us!</a></p>
                    </div>
                </div>
        </div>
    </div>
</footer>