<footer>
    <div class="container">
        <div class="row">
            <!--Temp solution...probably should find something better-->
            {% if page.isIndex %}
                <div class="col-md-12">
            {% else %}
                <div class="col-md-2"></div>
                <div class="col-md-8">
            {% endif %}
                    <hr />
                    <div class="d-none d-lg-block">
                        <p class="text-center flavor-text" id="footerSaying"><i>Welcome to Hexdrinkers!</i></p>
                    </div>
                    <div class="float-left">
                        <p>&copy; Hexdrinkers 2020</p>
                    </div>
                    <div class="float-right">
                        <a class="accented-link" href="https://twitter.com/hexdrinkers" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="accented-link" href="https://www.youtube.com/channel/UC8VvyNf8K3etyuLptQzBiYA/videos" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="accented-link" href="https://www.twitch.tv/the_hexdrinkers" target="_blank"><i class="fa fa-twitch fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="accented-link"href="mailto:hexdrinkers@gmail.com?subject=Site%20Link"><i class="fa fa-envelope fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
        </div>
    </div>
</footer>