$accent-color: rgb(194, 59, 59);
//the color (if it's still that green one) on the logo is #282

.accented-link {
  color: $accent-color;
  &:hover {
    color: $accent-color;
  }
}

//used if there are two links directly next to each other to differentiate
.accented-link-two { 
  color: black;
  &:hover {
    color: $accent-color;
    text-decoration: none;
  }
}

.unselected {
  color: black;
  &:hover {
    color: black;
  }
}

.post-category {
  color: $accent-color;
}

.author-pic-sm {
  height: 50px;
  width: 50px;
}

.author-pic-lg {
  height: 100px;
  width: 100px;
}

.crop-contain {
  max-height: 250px;
  overflow: hidden;
}

.author-post {
  display: block;
  max-width: 100%;
  height: auto !important;
  width: 100%
}

.width-full {
  width: 100%;
}

.post-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}