---
layout: default
---
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {% if page.archive_img %}
            <div class="crop-contain">
                <img src="{{ page.archive_img }}" class="author-post" alt="{{ page.archive_title }}">
            </div>
        {% endif %}
        <div class="text-center">
            <h2>{{ page.archive_name }}</h2>
            <p>{{ page.archive_text }}</p>
        </div>
        <div class="container">
            {{ content }}
        </div>
    </div>
</div>