---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="float-left">
        <h1>{{ page.name }}</h1>
        <h5>{{ page.position }}</h5>
      </div>
      <div class="float-right d-none d-md-block">
        <img src="/{{ page.picture }}" class="img-fluid rounded-circle author-pic-lg" alt="{{author.name}}">
      </div>
    </div>
  </div>

  {{ content }}
  <hr />
  <h2>Posts</h2>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
    <div class="row">
      <a class="post-link width-full" href="{{ post.url }}">
        <div class="crop-contain">
          <img src="/{{ post.cover }}" class="author-post" alt="{{ post.title }}">
        </div>
        <h4 class="post-category">{{ post.categories[0] | capitalize }}</h4>
        <h3>{{ post.title }}</h3>
        <p>
          {{ post.excerpt }}
        </p>
      </a>
    </div>
  {% endfor %}
</div>
