<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script
			  src="https://code.jquery.com/jquery-3.5.0.min.js"
			  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function(){
          $('[data-toggle="popover"]').popover({
              html : true,
              trigger : 'hover'
          });
      });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
      <header>
        <div class="container text-center mb-3 mt-3">
          {% include banner.html %}
          {% include navigation.html %}
        </div>
      </header>
      <main role="main">
          <div class="container">
            <div>
              {{ content }}
            </div>
          </div>
      </main>
      {% include footer.html %}
  </body>
</html>