---
layout: default
---
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <!--cover image-->
    <img src="{{ page.cover }}" class="img-fluid width-full" alt="welcome!">
    <h4 class="post-category">{{ page.categories[0] | capitalize }}</h4>
    <h1>{{ page.title }}</h1>
    <!--Author credit and image-->
    <p class="author-block">
      {% assign author = site.authors | where: 'short_name', page.author | first %}
      {% if author %}
        <div class="col-md-3">
          <div class="row">
            <div class="float-left">
              <img src="/{{ author.picture }}" class="img-fluid rounded-circle author-pic-sm" alt="{{author.name}}">
            </div>
            <div class="float-right ml-1">
              <a class="accented-link" href="{{ author.url }}">{{ author.name }}</a>
              {% if author.twitch_name %}
                <br />
                <a class="accented-link-two" href="https://www.twitch.tv/{{ author.twitch_name }}" target="_blank">@{{ author.twitch_name }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
      <br />
      {{ page.date | date_to_string }} 
      {% if page.length %}
      - {{ page.length }} min read
      {% endif %}
    </p>
    <!--Actual content, starting with provided youtube-->
    <hr/>
    {% if page.youtube %}
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ page.youtube }}" allowfullscreen frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
    </div>
      <br />
    {% endif %}
    {{ content }}
    {% include series.html %}
  </div>
</div>