---
layout: default
---
<img src="/{{ page.cover }}" class="img-fluid width-full" alt="welcome!">
<h4 class="post-category">{{ page.categories[0] | capitalize }}</h4>
<h1>{{ page.title }}</h1>

<p class="author-block">
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    <img src="/{{ author.picture }}" class="img-fluid rounded-circle author-pic-sm" alt="{{author.name}}">
    <a class="accented-link" href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
  <br />
  {{ page.date | date_to_string }} 
  {% if page.length %}
  - {{ page.length }} min read
  {% endif %}
</p>
<hr/>
{% if page.youtube %}
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ page.youtube }}" allowfullscreen></iframe>
    </div>
  </div>
</div>
  <br />
{% endif %}
{{ content }}